.screenLabel {
	padding: 2px;

	border-width: 4px;
	border-radius: 8px;
	border-style: solid;
	border-top-color: #0008;
	border-right-color: #fdaa;
	border-bottom-color: #fda6;
	border-left-color: #000a;

	box-shadow: inset 0 0 0 2px #0c0c0c, 2px 1px 4px #0004;

	& + div {
		margin-left: 8px;
	}

	div {
		padding: 0 8px 2px;
		color: #f0e9d0;
		font-family: "MAX Pixel", sans-serif;
		font-size: 18px;
		letter-spacing: 1px;
		line-height: 18px;
		text-align: center;

		border-radius: 2px;

		background:
			linear-gradient(179deg,#d9d2cc30 0%, #1c181400 10%),
			linear-gradient(95deg,#d9d2cc30 0%, #1c181400 2%),
			url("/images/screen-bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
