.submenu {
	position: absolute;
	top: 30px;
	left: 0;
	width: max-content;
	z-index: 1000;
	flex-direction: column;

	background-image: url("/images/modal-bg.png");
	background-repeat: repeat;

	box-shadow: 8px 8px 16px #000;
}

.separator {
	height: 0;
	width: 100%;

	border-width: 1px;
	border-style: solid;
	border-top-color: #0008;
	border-bottom-color: #fda6;
}
