<section class="x-setup-screen">
	<div class="caption">SETUP</div>
	<div class="max-path-selector">
		<div class="label">M.A.X. Directory Path:</div>
		<input type="text" id="setup--max-path" />
		<div class="split-apart">
			<button id="setup--browse-for-max-path">BROWSE</button>
			<button id="setup--done">DONE</button>
		</div>
		<div id="setup--error-message">
			<span>Provided path is not a valid M.A.X. directory or it is missing some of the default WRL files.</span>
		</div>
	</div>
</section>
