[Desktop Entry]
Type=Application
Name=M.A.X. Map Editor
Comment=Map editor for M.A.X.: Mechanized Assault & Exploration
Icon=max-map-editor
Exec=max-map-editor
Path=
Terminal=false
Categories=Game;Utility;
