.wglMap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	& > div {
		width: 100%;
		height: 100%;

		border-width: 8px;
		border-radius: 8px;
		border-style: solid;
		border-top-color: #0008;
		border-right-color: #fdaa;
		border-bottom-color: #fda6;
		border-left-color: #000a;

		& > div {
			width: 100%;
			height: 100%;

			background: url("/images/screen-bg.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	canvas {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.c64 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 64px;
		height: 64px;
		background-color: #0096;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 32px;
			height: 32px;
			background-color: #f006;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 128px;
			height: 128px;
			background-color: #0f06;
		}
	}
}
