.statusBar {
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		bottom: 0;
		width: 100%;
		height: 26px;

		border-top: 1px solid #fda6;
		background: #0005;
		background-image: linear-gradient(
			0deg,
			#16141134 0%,
			#16141134 40%,
			#3b352be0 41%,
			#e2b879c0 100%
		);
	}
}
