.bigOutset {
	width: 100%;
	height: 100%;
	border-width: 4px;
	border-radius: 2px;
	border-style: solid;
	border-top-color: #fda6;
	border-right-color: #000a;
	border-bottom-color: #0008;
	border-left-color: #fdaa;
}
