.mainMenu {
	background: #765a;
	background-size: 50px 50px, 100% 100%;

	border-bottom-color: #0008;
	border-bottom-style: solid;
	border-bottom-width: 4px;

	&.blocked button {
		pointer-events: none;
		opacity: 0.5;
	}

	& > div {
		display: inline-block;
		position: relative;

		section {
			display: none;
		}

		&.open section {
			display: block;
		}
	}
}
