.simpleButton {
	height: 30px;

	padding: 4px 12px;

	font-family: "MAX Square", sans-serif;
	font-size: 18px;
	letter-spacing: 1px;

	color: #f0e9e0;
	text-shadow: -1px -1px 1px #fa09, 2px 1px 2px #19130c;

	border-width: 2px;
	border-radius: 6px;
	border-style: solid;
	border-top-color: #fda6;
	border-right-color: #000a;
	border-bottom-color: #0008;
	border-left-color: #fdaa;

	box-shadow: 1px 0 3px #000, inset 2px 1px 4px #0005, inset -2px -1px 4px #fe95;

	background: #7538;

	&:hover {
		color: #ffe7c7;
		text-shadow: -1px -1px 1px #fca800, 1px 0 2px #19130c, 1px 0 2px #19130c, 1px 0 2px #19130c;
	}

	&:active {
		color: #b87854;
		text-shadow: -1px -1px 1px #fca800, 1px 0 2px #19130c, 1px 0 2px #19130c, 1px 0 2px #19130c;

		border-top-color: #0008;
		border-right-color: #fdaa;
		border-bottom-color: #fda6;
		border-left-color: #000a;

		background: #753a;

		box-shadow: 1px 0 2px #0007, inset 2px 1px 4px #0005, inset -2px -1px 4px #fe95;
	}

	&:disabled {
		background-color: #30281c;
		color: #888;
		cursor: not-allowed;
	}
}
