name: 'publish'

#on:
#  push:
#    branches:
#      - release
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'ubuntu-22.04'
            args: ''
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.0-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: install frontend dependencies
        run: npm install

      - name: Create Artifacts directory
        run: mkdir -p ./Artifacts/

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version.
          releaseName: "App v__VERSION__"
          releaseBody: "See the assets to download this version and install."
          releaseDraft: false
          prerelease: true
          args: ${{ matrix.args }}

      - name: copy artifacts
        run: |
          cp ./src-tauri/target/release/bundle/appimage/max-game-map-editor_*_amd64.AppImage ./Artifacts/
          cp ./src-tauri/target/release/bundle/deb/max-game-map-editor_*_amd64.deb ./Artifacts/
          cp ./src-tauri/target/release/bundle/nsis/M.A.X.Game.Map.Editor_*_x64-setup.exe ./Artifacts/

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
            name: ${{github.job}}
            path: ./Artifacts
